.section-container {
  background-color: #ffebcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 500px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.auth-search-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Home_login {
  background-color: #dc143c;
  color: white;
}

.Home_signup {
  background-color: #d3d3d3;
  color: black;
}
.body h1 {
  font-size: 2.25rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: zoomIn 1s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.body p {
  font-size: 1.5rem;
  margin: 20px 0 30px;
  color: #666;
}
.book-covers {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.book-covers img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-covers img:hover {
  transform: scale(1.15) rotate(3deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


button {
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2e3a4b;
}



