/* .section-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 500px;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
  .science-fiction-container h1 {
    color: #333;
    text-align: left;
  }
  
  .science-fiction-container p {
    color: #666;
  }
 
  .body img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .body img:hover {
    transform: scale(1.15) rotate(3deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  */
