.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}
.header-logo img {
  height: 100px;
}

.header-nav .nav-links li a:hover {
  color: #4395e1;
}
.demo .nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.demo li {
  position: relative;
}

.demo a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
.demo-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.demo-buttons a {
  padding: 5px 6px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
}
.demo_login {
  background-color: #35a2f0;
  color: white;
}

.demo_signup {
  background-color: #d3d3d3;
  color: black;
}
.demo-bar {
  display: flex;
align-items: center;
border: 2px solid #ddd;
border-radius: 35px;  
overflow: hidden;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
transition: box-shadow 0.3s ease, border 0.3s ease;
padding: 10px 15px;
}

.demo-bar input {
  border: none;
padding: 8px 10px;
outline: none;
font-size: 14px;
flex: 1;
}

.demo-bar button {
  background-color: #8ac6f2;  
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-bar button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
border: 1px solid #8ac6f2;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  text-align: left;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.demosearch-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.demosearch-bar .demobar {
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline-color: #333;
}
.demosearch-bar button {
  padding: 2.5px 5px;
  background-color: #6aa8ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.demosearch-bar button:hover {
  background-color: #0056b3;
}

