
  .body img {
    width: 180px; /* Điều chỉnh kích thước theo ý muốn */
    height: auto;
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    transition: transform 0.3s ease;
  }
  
  .body img:hover {
    transform: scale(1.15) rotate(3deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .body h3{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  
