.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .breadcrumb_login {
    font-size: 16px;
    color: #1a73e8;
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .breadcrumb_login a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .breadcrumb_login a:hover {
    text-decoration: underline;
  }
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-box h2 {
    font-size: 40px;
    color: #1a73e8;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .email_login {
    margin-bottom: 20px;
    text-align: left;
  }
  .email_login input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #639ce5;
    border-radius: 5px;
  }
  .pass_login {
    margin-bottom: 20px;
    text-align: left;
  }
  .pass_login input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #639ce5;
    border-radius: 5px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #639ce5;
  }
  .button_login {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #326cb8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button_login:hover {
    background-color: #639ce5;
  }
  
  .ketnoi {
    margin-top: 20px;
  }
  
  .ketnoi p {
    font-size: 14px;
    color: #666;
  }
  
  .ketnoi a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  .ketnoi a:hover {
    text-decoration: underline;
  }