.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }
  
  .forgot-password-image {
    width: 200px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #3b82f6;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-recover {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input-container i {
    color: #888;
    margin-right: 10px;
  }
  
  .form-recover input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
  }
  
  input::placeholder {
    color: #999;
  }
  
  .submit-button {
    width: 30%;
    padding: 10px;
    background-color: #1565c0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .submit-button:hover {
    background-color: #1565c0;
  }
  
  .signin-text {
    font-size: 14px;
    color: #666;
  }
  
  .signin-text a {
    color: #3b82f6;
    text-decoration: none;
  }
  
  .signin-text a:hover {
    text-decoration: underline;
  }
  