/* .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
  }
  
  .register-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  .register-box h2 {
    font-size: 30px;
    color: #1a73e8;
    text-align: left;
    width: 100%;

    margin-bottom: 20px;
    text-align: center;
}
  .name {
    margin-bottom: 20px;
  }
  .name input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #639ce5;
    border-radius: 5px;
  } 
  .gender {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .gender label {
    font-size: 16px;
  }
  .birth {
    margin-bottom: 20px;
  }
  .birth input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #639ce5;
    border-radius: 5px;
  } 
  .email {
    margin-bottom: 20px;
  }
  .email input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #639ce5;
    border-radius: 5px;
  } 
  .Dangky {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    background-color: #0d47a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #1565c0;
  }
  
  .backlogin {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .backlogin a {
    color: #0d47a1;
    text-decoration: none;
  }

  .backlogin a:hover {
    text-decoration: underline;
  } */