.library-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;

}
.library-title {
    font-size: 2.5rem;
    color: #3f6780; 
    text-align: center;
    margin-bottom: 20px;
}

.library-h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.library-sort-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-sort-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.library-genre-select {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.library-genre-select:hover {
    border-color: #3812e1; /* Màu viền khi hover */
}

.library-genre-select:focus {
    outline: none;
    border-color: #3812e1; /* Màu viền khi focus */
}

.library-category-section {
    margin-bottom: 40px;
}

.library-genre-title {
    font-size: 1.8rem;
    color: #3812e1;
    text-align: left;
    margin: 10px 0 20px 0;
    padding-left: 15px;
    font-weight: bold;
    border-left: 4px solid #333;
}

.library-book-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.library-book-card {
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.library-book-card:hover {
    transform: translateY(-5px);
}

.library-book-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.library-book-info {
    padding: 15px;
    text-align: left;
}

.library-book-info h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.library-book-info p {
    font-size: 1rem;
    color: #666;
}

.library-see-more-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.library-see-more-button:hover {
    background-color: #e0e0e0;
}

.library-loading,
.library-error {
    font-size: 1.5rem;
    color: #888;
}

.library-error {
    color: red;
}
.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s ease;
}

.favorite-icon.favorited {
    color: red; /* Màu đỏ khi đã yêu thích */
}

.library-book-card {
    min-width: 300px;
    height: 450px;                /* Đặt chiều cao cố định cho thẻ sách */
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.library-book-card:hover {
    transform: translateY(-5px);
}